.comment-info {
  margin-left: 30px;
  color: #fff;
}
.comment-container {
  width: 100%;
  background-color: #121212;
  padding: 20px;
  color: #fff;
  margin: 10px 0;
}
.comment-header {
  display: flex;
}
.comment-input {
  width: 50vw;
  height: 100px;
}
